@import "compass";
@import "reset";
@import "variable";


/*-------------------------------------------------------------------------------------------------------*/
/*  Common CSS3 Styles
/*-------------------------------------------------------------------------------------------------------*/
.light_shadow{
  @include single-box-shadow(#e6e6e6, 0px, 0px, 0px, 1px);
}

.button_shadow{
  @include box-shadow(#f9f9f9 -1px -1px 0px, 1px 1px 1px #d8d8d8);
}

.light_transition{
  @include transition-duration(0.3s);
  @include transition-timing-function(ease-out);
}



/*-------------------------------------------------------------------------------------------------------*/
/* 1. Base Body Styles
/*-------------------------------------------------------------------------------------------------------*/

body {
  background: url(../images/body.png) #f0ece1;
  color: $text_color;
  font: 13px 'Droid Sans', Georgia, "Times New Roman", Times, serif;
  line-height: 20px;
}

::-moz-selection, ::selection {
  background: #f8dda8;
  color: #000;
  text-shadow: none;
}

.clearfix {
  &:before {
    content: "";
    display: table;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  *zoom: 1;
}

a {
  text-decoration: none;
  color: $link_color;
  &:visited {
    color: $link_color;
  }
  &:active, &:focus, &:hover {
    color: $link_hover_color;
  }
  &:focus {
    outline: none;
  }
  &:hover, &:active {
    outline: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $link_hover_color;
  font-family: 'Droid Serif', serif;
}

h1 {
  font-size: 32px;
  line-height: 38px;
}

h2 {
  font-size: 24px;
  line-height: 30px;
}

h3 {
  font-size: 18px;
  line-height: 24px;
}

h4 {
  font-size: 14px;
  line-height: 20px;
}

h5 {
  font-size: 13px;
  line-height: 20px;
}

h6 {
  font-size: 12px;
  line-height: 18px;
}

p {
  line-height: 20px;
}

em, code, strong, b {
  margin: 0px 2px;
}

strike, em, strong, b {
  color: #676666;
}

code {
  color: $link_hover_color;
}

ins, strong {
  font-weight: bold;
}

i, em {
  font-style: italic;
}

article address {
  padding: 1em;
  border-left: 5px solid #ebd09b;
}

pre {
  width: 100%;
  margin: 10px 0;
  display: block;
  padding: 1em;
  background: #fdf4e3;
  border-left: 5px solid #ebd09b;
  font-family: "Courier New",Courier,monospace;
}

tt {
  font-family: "Courier New",Courier,monospace;
}

sub {
  font-size: 8px;
  vertical-align: bottom;
}

sup {
  font-size: 10px;
  vertical-align: top;
}

form {
  width: 100%;
  margin-bottom: 15px;

  div, p {
    margin-bottom: 15px;
  }

  label {
    color: $link_hover_color;
    display: block;
  }

  input[type="text"], select, textarea {
    padding: 0 5px;
    outline: none;
    font-size: 13px;
    color: #ab7868;
    background-color: #fff9f1;
    border: 1px solid #fff;
    @extend .light_shadow;
  }
}

.screen-reader-text {
  display: none;
}

.lt-ie9 form {
  input[type="text"], select, textarea {
    border: 1px solid #e6e6e6;
  }
  input[type="text"].error, select.error, textarea.error {
    border: 1px solid #ff1a3a;
  }
}

form {
  select {
    height: 30px;
    padding: 5px 1px;
    width: 213px;
  }
  input[type="text"] {
    width: 198px;
    height: 30px;
  }
}

.lt-ie9 form input[type="text"] {}

form {
  textarea {
    width: 90%;
    height: 120px;
    line-height: 20px;
    resize: vertical;
  }
  input[type="text"]:focus, textarea:focus {
    background-color: #f6e0c4;
  }
  fieldset {
    margin-bottom: 15px;
    border: 1px solid #FBDFAA;
    padding: 10px;
    legend {
      padding: 4px 10px;
      color: $link_hover_color;
    }
    p, div {
      margin-bottom: 10px !important;
    }
    label {
      display: inline-block;
    }
    input {
      &[type="radio"], &[type="checkbox"] {
        vertical-align: top;
        height: 20px;
        width: auto;
        padding: 0px;
        margin: 0 5px 0 2px;
      }
    }
  }
}

.button {
  cursor: pointer;
  display: inline-block;
  background-color: $link_hover_color;
  border: 2px solid #ffffff;
  padding: 5px 12px;
  color: #fff;
  font-size: 13px;
  @extend .button_shadow;
}

input {
  &[type="submit"], &[type="reset"] {
    cursor: pointer;
    display: inline-block;
    background-color: $link_hover_color;
    border: 2px solid #ffffff;
    padding: 5px 12px;
    color: #fff;
    font-size: 13px;
    @extend .button_shadow;
  }
}

button {
  cursor: pointer;
  display: inline-block;
  background-color: $link_hover_color;
  border: 2px solid #ffffff;
  padding: 5px 12px;
  color: #fff;
  font-size: 13px;
  @extend .button_shadow;
}

.button {
  &:hover, &:focus {
    background-color: #55240f;
    @extend .light_transition;

  }
}

input {
  &[type="submit"]:hover, &[type="reset"]:hover {
    background-color: #55240f;
    @extend .light_transition;
  }
}

button {
  &:hover, &:focus {
    background-color: #55240f;
    @extend .light_transition;
  }
}

/*-------------------------------------------------------------------------------------------------------*/
/* 2. Common Styles
/*-------------------------------------------------------------------------------------------------------*/

/* 2.1 Fonts --------------------------------------------------------------------*/

#header ul li > ul > li > a, #pagination, .event-single article small, .article-date, ul.carousel .price span, #header ul li a {
  font-family: 'Droid Serif', serif;
}

#commentform, form, article dl, #reservation-form .contact-form .readmore, .contact-form, #contact-form, #reservation-form {
  font-family: 'Droid Sans', Arial, Helvetica, sans-serif;
}

#contact-form .contact-form {
  #message, label {
    font-family: 'Droid Sans', Arial, Helvetica, sans-serif;
  }
}

p, .team-page .page-head p {
  font-family: 'Droid Sans', Arial, Helvetica, sans-serif;
}

#sidebar .widget {
  p, ul li {
    font-family: 'Droid Sans', Arial, Helvetica, sans-serif;
  }
}

#header h6, .bottom-strip p a {
  font-family: 'Droid Sans', Arial, Helvetica, sans-serif;
}

ul.template-items li {
  a.readmore, p {
    font-family: 'Droid Sans', Arial, Helvetica, sans-serif;
  }
}

#footer {
  ul li a, address, p {
    font-family: 'Droid Sans', Arial, Helvetica, sans-serif;
  }
}

/* 2.2 Image Alignment --------------------------------------------------------------------*/

.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter, div.aligncenter {
  display: block;
  margin: 5px auto 20px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

.aligncenter {
  display: block;
  margin: 5px auto 20px auto;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 0 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto
}

/* 2.3 Image Caption --------------------------------------------------------------------*/

.wp-caption {
  background: #fff;

  max-width: 96%;
  padding: 5px 3px 10px;
  text-align: center;
  &.alignnone, &.alignleft {
    margin: 5px 20px 20px 0;
  }
  &.alignright {
    margin: 5px 0 20px 20px;
  }
  img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
  }
  p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
  }
}

.sticky{
  visibility: visible;
}
.gallery-caption {
  visibility: visible;
}
.bypostauthor {
  visibility: visible;
}

/* 2.4 Image Border --------------------------------------------------------------------*/

.img-border {
  display: block;
  margin-bottom: 15px;
  border: 6px solid #fafafa;
  @extend .light_shadow;

  &:hover {
    border-color: #eaeaea;
    @include transition-duration(0.3s);
  }
}

a.read-more {
  display: inline;
  padding-right: 15px;
  background: url(../images/rm-arrow.png) no-repeat right 5px;
  &:hover {
    color: $link_hover_color;
    background: url(../images/rm-arrow.png) no-repeat right -28px;
  }
}

.readmore {
  display: inline-block;
  background-color: $link_hover_color;
  border: 2px solid #ffffff;
  padding: 5px 12px;
  color: #fff;
  font-size: 12px;
  @extend .button_shadow;

  &:hover, &:focus {
    background-color: #55240f;
    @extend .light_transition;


  }
}

/* 2.5 Bottom Strip --------------------------------------------------------------------*/

.bottom-strip-wrapper {
  background: url(../images/bottom-strip.png) repeat-x #fbdfa8;
  width: 100%;
  height: 50px;
  margin-bottom: 45px;
}

.bottom-strip {
  width: 960px;
  margin: auto;
  text-align: center;
  p {
    color: #514032;
    font-size: 15px;
    line-height: 14px;
    text-transform: uppercase;
    padding: 11px 0px 6px;
    word-spacing: 1px;
  }
}

.lt-ie8 .bottom-strip p a {
  padding: 3px 11px;
}

.bottom-strip p a {
  margin-left: 6px;
  display: inline-block;
  color: #fff;
  background: url(../images/strip-btn-bg.png) repeat-x;
  border-right: 1px solid #9f6a4c;
  padding: 7px 11px;
  font-size: 12px;
  &:hover {
    background-position: bottom;
    transition: linear 0.3s;
    -moz-transition: linear 0.3s;
    -webkit-transition: linear 0.3s;
    -o-transition: linear 0.3s;
  }
}

/* 2.6 Page Head ----------------------------------------------------------------------*/

.page-head {
  h1 {
    background: url(../images/page-title.png) repeat-x 0 20px;
    text-align: center;
    font-variant: small-caps;
    margin-bottom: 25px;
    line-height: 38px;
    span {
      display: inline-block;
      background-color: #ffffff;
      padding: 0px 7px;
    }
  }
  p {
    text-align: center;
    margin-bottom: 25px;
  }
}

/* 2.7 Top & Bottom Container Styles ----------------------------------------------------------------------*/

.container-top {
  background: url(../images/container-top.png) no-repeat center top;
  margin: -34px 0px 16px;
}

.container-bottom {
  background: url(../images/container-bottom.png) no-repeat center top;
  margin-bottom: -38px;
}

.container-top, .container-bottom {
  width: 100%;
  height: 54px;
  overflow: hidden;
}

/* 2.8 Separator Styles ----------------------------------------------------------------------*/

.separator {
  background: url(../images/sep-line-stars.png) white repeat-x center center;
  height: 15px;
  border: none;
  margin: 0px 0px 25px;
}

.lt-ie8 hr {
  border: none;
  color: #f3eade;
  height: 1px;
}

/* 2.9 Widgets --------------------------------------------------------------------*/

.widget {
  padding: 0px 0px 20px;
  margin-bottom: 30px;
  background: url(../images/widget-bottom-bg.png) center bottom no-repeat;
  h3 {
    font-size: 20px;
    line-height: 28px;
    font-variant: small-caps;
    margin-bottom: 15px;
  }
  h4 {
    color: $link_color;
    margin-bottom: 15px;
    line-height: 22px;
  }
  p {
    margin-bottom: 15px;
    span {
      color: #d2ae7e;
      margin-bottom: 4px;
    }
    a {
      color: #d2ae7e;
      margin-bottom: 4px;
      &:hover, &:focus {
        color: $link_hover_color;
      }
    }
  }
  ul {
    margin-bottom: 15px;
    ul {
      margin-bottom: 0;
    }
    li {
      background: url(../images/list-bullet.png) no-repeat 0 9px;
      padding-left: 20px;
      margin-bottom: 0px;
      a {
        color: $link_color;
        font-family: 'Droid Serif', serif;
        font-size: 14px;
        line-height: 27px;
        &:hover, &:focus {
          color: $link_hover_color;
        }
      }
    }
  }
}

/* 2.10 Sidebar Contact Detail Widget Styles ----------------------------------------------------------*/

#sidebar {
  button, input, label, select, textarea, option {
    margin-bottom: 10px;
  }
  li {
    &.book-icon {
      color: $link_color;
      padding-left: 25px;
      margin-bottom: 5px;
      background: url(../images/book.png) no-repeat 0px 3px;
    }
    &.mail-icon {
      color: $link_color;
      padding-left: 25px;
      margin-bottom: 5px;
      background: url(../images/list-mail-icon.png) no-repeat 0px 5px;
    }
    &.phone-icon {
      color: $link_color;
      padding-left: 25px;
      margin-bottom: 5px;
      background: url(../images/list-phone-icon.png) no-repeat 0px 0px;
    }
  }
  .social {
    ul {
      overflow: hidden;
    }
    li {
      float: left;
      background: none;
      padding: 0px;
      height: 32px;
      line-height: 38px;
      margin: 0 9px 0px 0px;
      color: $text_color;
      a {
        display: inline-block;
        width: 32px;
        height: 32px;
      }
      &.twitter a {
        background: url(../images/twitter.png) 0px 0px no-repeat;
      }
      &.facebook a {
        background: url(../images/facebook.png) 0px 0px no-repeat;
      }
      &.twitter:hover a, &.facebook:hover a {
        background-position: bottom;
      }
    }
  }
  .sidebar-menu-item {
    padding: 10px 0;
    border-bottom: 1px solid #eaeaea;
  }
  .widget .sidebar-menu-item {
    &:first-of-type {
      padding-top: 0;
    }
    &:last-of-type {
      border-bottom: none;
    }
  }
  .sidebar-menu-item {
    h4 {
      color: #D3AF80;
      font-size: 15px;
      margin-bottom: 5px;
      line-height: 22px;
    }
    .sidebar-menu-thumb {
      float: left;
      margin: 5px 10px 10px 0;
    }
    p {
      margin-bottom: 5px;
    }
  }
}

/* 2.11 Sidebar Social Nav Widget Styles ----------------------------------------------------------*/

/* 2.12 Pagination --------------------------------------------------------------------*/

#pagination {
  font-size: 14px;
  color: $link_hover_color;
  margin-bottom: 15px;
  text-align: center;
  span {
    margin: 0px 6px;
  }
  a {
    &.readmore {
      padding: 4px 8px;
      margin-bottom: 10px;
      color: #fff;
      &:hover {
        color: #fff;
      }
    }
    &.current {
      color: #fff;
      font-weight: 700;
      background-color: #55240f;
    }
  }
}

/*-------------------------------------------------------------------------------------------------------*/
/* 3. Layouts
/*-------------------------------------------------------------------------------------------------------*/

#container {
  width: 930px;
  margin: 0px auto 45px;
  padding: 5px;
  background-color: #fff;
  border: 1px solid #b4b4b4;
  box-shadow: 0px 0px 3px #c2c1bf;
  -moz-box-shadow: 0px 0px 3px #c2c1bf;
  -webkit-box-shadow: 0px 0px 3px #c2c1bf;
}

.content {
  width: 820px;
  padding: 0px 53px 0px;
  margin: auto;
  border: 1px solid #fce2af;
}

#sidebar {
  float: left;
  width: 210px;
  padding: 20px 0 50px 0;
}

#main-content {
  float: right;
  width: 560px;
  padding: 16px 0 50px 0;
}

/* 3.2 Sidebar Rigth  ------------------------------------------------------------------------------------*/

.content {
  &.right {
    #sidebar {
      float: right;
    }
    #main-content {
      float: left;
    }
  }
  &.full-width #main-content {
    width: 100%;
    float: none;
    padding: 0 0 20px;
    clear: both;
  }
}


/*-------------------------------------------------------------------------------------------------------*/
/* 4. Header
/*-------------------------------------------------------------------------------------------------------*/

#header-wrapper {
  width: 100%;
  background-color: #000000;
}

#header {
  width: 960px;
  margin: auto;
  padding: 1px 0px 0px;
  position: relative;
  min-height: 120px;
  height: auto !important;
  height: 120px;
}

/* 4.1 Logo ----------------------------------------------------------------------*/

#logo {
  width: 194px;
  margin: 15px auto 0px;
  img {
    max-width: 100%;
  }
}

#header h6 {
  color: #936e4d;
  font-size: 11px;
  position: absolute;
  top: 29px;
  right: 10px;
}

/* 4.2 Header Menus ----------------------------------------------------------------------*/

.main-menu {
  position: absolute;
  bottom: 0px;
  &.left {
    left: 0px;
  }
  &.right {
    right: 0px;
  }
  > div > ul > li {
    position: relative;
  }
  &.left > div > ul > li {
    float: left;
    padding: 0px 10px 23px 0px;
  }
  &.right > div > ul > li {
    float: right;
    padding: 0px 0px 23px 10px;
  }
  > div > ul > li > a {
    color: #9d7653;
    font-size: 18px;
    background: url(../images/bullet-one.png) no-repeat right center;
  }
  &.left > div > ul > li > a {
    padding-right: 15px;
    background-position: right center;
  }
  &.right > div > ul > li > a {
    padding-left: 15px;
    background-position: left center;
  }
  > div > ul > li {
    &:last-child > a {
      background: none;
    }
    > a {
      &:hover, &:active, &:focus {
        color: #d2ae7e;
      }
    }
  }
  .sub-menu {
    background: #000;
    display: none;
    width: 200px;
    position: absolute;
    top: 45px;
    left: 0px;
    z-index: 1200;
    border: 1px solid #e3c893;
    border-top: none;
    box-shadow: 2.5px 2.5px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2.5px 2.5px 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 2.5px 2.5px 5px rgba(0, 0, 0, 0.2);
    .menu-item {
      cursor: pointer;
      float: none;
      padding: 10px 15px 10px 15px;
      position: relative;
      border-bottom: 1px solid #222;
      transition: all .3s;
      -moz-transition: all .3s;
      -webkit-transition: all .3s;
      &:last-child {
        border-bottom: none;
      }
      &:hover {
        background-color: #fce0a9;
        transition: all .3s;
        -moz-transition: all .3s;
        -webkit-transition: all .3s;
        > a {
          color: #9d7653;
        }
      }
      > a {
        padding: 0px;
        background: none;
        font-size: 14px;
      }
      &:focus > a {
        color: #9d7653;
      }
      .sub-menu {
        top: 0px;
        left: 200px;
      }
    }
  }
  .responsive-nav {
    display: none;
    margin: 10px auto 0px;
    padding: 5px;
    border: 1px solid #CCC;
  }
}

/*-------------------------------------------------------------------------------------------------------*/
/* 5. Footer
/*-------------------------------------------------------------------------------------------------------*/

#footer-wrapper {
  width: 100%;
  background: url(../images/footer-wrapper.png) black repeat-x center top;
  padding: 8px 0 30px;
}

#footer {
  width: 960px;
  margin: auto;
  text-align: center;
  padding: 18px 0px 59px;
  background: url(../images/elegant-shape.png) center bottom no-repeat;
  #footer-menu {
    margin-bottom: 28px;
  }
  ul li {
    display: inline;
    margin-right: 24px;
    a {
      font-size: 12px;
      color: #9d7653;
      &:hover, &:focus {
        color: #bc9068;
      }
    }
  }
  #footer-menu .responsive-nav {
    display: none;
    margin: 10px auto 0;
    padding: 5px;
    border: 1px solid #CCC;
  }
  ul.social-nav {
    margin-bottom: 35px;
  }
  .social-nav li {
    display: inline;
    width: 32px;
    height: 32px;
    margin: 0 3px 0 3px;
    a {
      display: inline-block;
      width: 32px;
      height: 32px;
    }
    &.vk a {
      background: url(../images/vk.png) 0 0 no-repeat;
    }
    &.instgram a {
      background: url(../images/instgram.png) 0 0 no-repeat;
    }
    &.yahoo a {
      background: url(../images/yahoo.png) 0 0 no-repeat;
    }
    &.twitter a {
      background: url(../images/twitter.png) 0 0 no-repeat;
    }
    &.facebook a {
      background: url(../images/facebook.png) 0 0 no-repeat;
    }
    &.mail a {
      background: url(../images/mail.png) 0 0 no-repeat;
    }
    &.rss a {
      background: url(../images/rss.png) 0 0 no-repeat;
    }
    &.google-pluse a {
      background: url(../images/google-pluse.png) 0 0 no-repeat;
    }
    &.in a {
      background: url(../images/in.png) 0 0 no-repeat;
    }
    &.pinterest a {
      background: url(../images/pinterest.png) 0 0 no-repeat;
    }
    &.vk:hover a, &.instgram:hover a, &.yahoo:hover a, &.twitter:hover a, &.facebook:hover a, &.mail:hover a, &.rss:hover a, &.google-pluse:hover a, &.in:hover a, &.pinterest:hover a {
      background-position: bottom;
    }
  }
  address, p {
    font-size: 11px;
    color: #9d7653;
    margin-bottom: 5px;
  }
  a {
    font-size: 11px;
    color: #9d7653;
    margin-bottom: 5px;
    &:hover {
      color: #9a6536;
    }
  }
}


/*-------------------------------------------------------------------------------------------------------*/
/*	6. Home Page
/*-------------------------------------------------------------------------------------------------------*/

/* 6.1 Flex Slider --------------------------------------------------------------------*/

.slider-wrapper {
  background-color: #000;
  /*background:url(images/slider-bg.jpg) #250804 no-repeat center center;*/
  border-top: 1px solid #cfbc91;
  width: 100%;
  height: auto;
}

.flexslider {
  width: 100%;
  height: auto;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.slider-wrapper .flexslider .slides img {
  width: 100%;
  display: block;
}

.flex-direction-nav {
  display: none;
  li a {
    display: block;
    text-indent: -999em;
    width: 22px;
    height: 44px;
    position: absolute;
    top: 50%;
    margin-top: -22px;
    z-index: 150;
    cursor: pointer;
    &.flex-next {
      background: url(../images/slider-nav-right.png) no-repeat 0px 0px;
      right: 0px;
      &:hover {
        background-position: 0px -56px;
      }
    }
    &.flex-prev {
      background: url(../images/slider-nav-left.png) no-repeat 0px 0px;
      left: 0px;
      &:hover {
        background-position: 0px -56px;
      }
    }
  }
}


/* 6.3 Template Items --------------------------------------------------------------------*/

ul.template-items {
  margin: 0px 0px 25px -50px;
  li {
    float: left;
    width: 240px;
    margin-left: 50px;
    overflow: hidden;
    padding-bottom: 4px;
    h2 {
      font-variant: small-caps;
      margin-bottom: 7px;
    }
    h3 {
      margin-bottom: 17px;
      word-spacing: 4px;
      font-size: 15px;
    }
    p {
      font-size: 13px;
      line-height: 20px;
      margin-bottom: 20px;
    }
    a.readmore {
      display: inline-block;
      background-color: $link_hover_color;
      border: 2px solid #ffffff;
      padding: 5px 12px 4px;
      color: #fff;
      font-size: 12px;
      @extend .button_shadow;

      &:hover, &:focus {
        background-color: #55240f;
        @extend .light_transition;
      }
    }
    figure {
      display: inline-block;
      background-color: #f0f1f2;
      border: 1px solid #ffffff;
      padding: 6px 4px 6px 6px;
      margin: 0px 0px 20px 1px;
      @extend .button_shadow;
      &:hover{
        background-color: #e0e1e2;
        @include transition-duration(0.3s);
      }
      &:hover img {
        @include transition-duration(0.3s);
      }
    }
    img {
      width: auto;
      height: auto;
      border: 1px solid #f5f6f7;
      display: block;
      margin-bottom: 0;
      box-shadow: none;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
    }
  }
}

.lt-ie9 .template-items li img{
  width: auto;
  height: auto;
}

/* 6.4 Carousel --------------------------------------------------------------------*/

.carousel {
  width: 820px;
  position: relative;
  margin: 0px 0px 25px;
}

.es-nav-prev, .es-nav-next {
  display: inline-block;
  background: url(../images/scroll.png) no-repeat 0px 0px;
  position: absolute;
  top: 55px;
  height: 11px;
  width: 8px;
  cursor: pointer;
  text-indent: -999em;
}

.es-nav-prev {
  background-position: 0 0;
  left: 0;
  &:hover {
    background-position: 0 -15px;
  }
}

.es-nav-next {
  background-position: -9px 0;
  right: 0;
  &:hover {
    background-position: -9px -15px;
  }
}

.es-carousel {
  width: 780px;
  overflow: hidden;
  height: 170px;
  margin: auto;
  padding-top: 75px;
  margin-top: -65px;
  li {
    float: left;
    width: 102px !important;
    text-align: center;
  }
  figure {
    display: inline-block;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    padding: 6px 5px;
    margin-bottom: 3px;
    cursor: pointer;
  }
}

.content .es-carousel img {
  width: 100%;
  height: auto;
  border: none;
  display: block;
  @include transition-duration(0.3s);

  margin-bottom: 0;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.lt-ie9 .content .es-carousel img {
  width: auto;
  height: auto;
}

.es-carousel li {
  &:hover figure {
    background-color: #f8f8f8;
    @include transition-duration(0.3s);

  }
  figure:hover img {
    @include transition-duration(0.3s);
  }
}

.price {
  width: 60px;
  margin: auto;
  text-align: center;
  background: url(../images/shape-two.png) no-repeat top center;
  border-bottom: 1px solid #eae4d9;
  padding: 19px 0px 8px;
}

.single-menu-item .price {
  float: right;
  margin-top: 8px;
}

.price span {
  display: block;
  background-color: $link_color;
  color: #fff;
  font-size: 16px;
  padding: 0px 5px;
  line-height: 26px;
  @include transition-duration(0.3s);

}

.single-menu-item .price:hover span, .es-carousel li:hover .price span {
  background-color: $link_hover_color;
}

/* 6.5 Blockquote --------------------------------------------------------------------*/

blockquote {
  border: 1px solid #efefef;
  background: url(../images/quote-icon.png) #f9f9f9 no-repeat 20px 25px;
  margin-bottom: 25px;
  padding: 20px 15px 15px 100px;
}

.content blockquote p {
  margin-bottom: 3px;
  text-align: left;
}

#container blockquote p.author {
  text-align: left;
  color: #d2ae7e;
  margin: 0;
}

blockquote span.text-highlight {
  color: #d2ae7e;
}

/*-------------------------------------------------------------------------------------------------------*/
/*	7. About Us Page
/*-------------------------------------------------------------------------------------------------------*/

.content {
  h2.title-heading {
    font-size: 28px;
    line-height: 40px;
    font-variant: small-caps;
  }
  h4 {
    font-size: 16px;
  }
  img {
    max-width: 98%;
    margin-bottom: 15px;
    border: 6px solid #fafafa;
    @extend .light_shadow;

    &:hover {
      border-color: #eaeaea;
      @include transition-duration(0.3s);
    }
  }
  h2.title-heading, h4, p {
    margin-bottom: 15px;
  }
}

/* 7.1 Article --------------------------------------------------------------------*/

article {
  ol, ul, h1, h2, h3, h4, h5, h6, dl, address, table {
    margin-bottom: 15px;
  }
  ol {
    list-style: decimal;
    padding-left: 30px;
  }
  ul {
    list-style: disc;
    padding-left: 25px;
  }
  dl {
    dt, dd {
      margin-bottom: 5px;
    }
  }
  ol li, ul li {
    margin-bottom: 5px;
  }
  dl {
    padding-left: 15px;
    dt {
      color: #676666;
      font-weight: bold;
      font-weight: normal;
    }
  }
}

/*-------------------------------------------------------------------------------------------------------*/
/*	8. Team Page
/*-------------------------------------------------------------------------------------------------------*/

.team-page {
  .team-member {
    margin-bottom: 20px;
  }
  section img {
    display: block;
    margin-bottom: 15px;
    border: 6px solid #fafafa;
    @extend .light_shadow;
    @include transition-duration(0.3s);

    &:hover {
      border: 6px solid #eaeaea;
    }
  }

  h2 {
    font-variant: small-caps;
    line-height: 30px;
    margin-bottom: 10px;
  }

  p {
    line-height: 20px;
  }

}

h3.designation {
  color: #d2ae7e;
  margin-bottom: 10px;
  line-height: 30px;
}

/*-------------------------------------------------------------------------------------------------------*/
/*	9. Contact Us Page
/*-------------------------------------------------------------------------------------------------------*/

#map_canvas {
  width: 537px;
  height: 250px;
  margin-bottom: 15px;
  border: 6px solid #fafafa;
  @extend .light_shadow;
}

.content #map_canvas img{
  max-width: none;
  width: auto;
  margin: 0;
  border: none;
  box-shadow: none;
}

/* 9.1 Form Styles -----------------------------------------------------------------------------------*/

#contact-form h2 {
  font-size: 28px;
  line-height: 40px;
  font-variant: small-caps;
  margin-bottom: 15px;
}

.contact-form {
  width: 468px;
  position: relative;
  p {
    &.adjust {
      margin-right: 42px;
    }
    float: left;
    margin-bottom: 16px;
    width: 213px;
  }
}

#commentform label, .contact-form label {
  color: $link_hover_color;
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 2px;
}

#commentform label span, .contact-form label span {
  margin-left: 3px;
  color: #D7332C;
}

#commentform input[type="text"], .contact-form input[type="text"] {
  width: 212px;
  height: 24px;
}

.lt-ie9 {
  #commentform input[type="text"], .contact-form input[type="text"] {
    line-height: 24px;
  }
}

.contact-form {
  #message {
    width: 467px;
    height: 194px;
    margin-bottom: 22px;
    resize: vertical;
  }
  input.error, #message.error {
    border: 1px solid #ff1a3a;
  }
}

.error-container {
  margin-bottom: 15px;
  label {
    display: block;
    line-height: 20px;
    margin-bottom: 2px;
    &.error {
      color: #ff1a3a;
      border: none;
      margin-bottom: 0px;
    }
  }
}

.contact-form #contact-loader {
  display: none;
  margin-bottom: 13px;
  border: none;
  box-shadow: none;
  position: absolute;
  left: 130px;
}

#reservation-form .contact-form #contact-loader {
  left: 200px;
  margin-bottom: 12px;
}

#commentform {
  margin: 0px auto 15px;
  padding: 0px;
  textarea {
    width: 97%;
    resize: vertical;
  }
}

.content .captcha-container {
  label {
    display: inline-block;
  }
  .captcha-img {
    border: none;
    box-shadow: none;
    margin: 0 5px 0 5px;
    vertical-align: middle;
  }
  .captcha {
    width: 60px;
    vertical-align: middle;
  }
}

#respond {
  margin-top: 10px;
  #commentform {
    label {
      display: inline;
    }
    textarea, input[type=text] {
      display: block;
      margin-top: 5px;
      margin-left: 1px;
    }
  }
}

/*-------------------------------------------------------------------------------------------------------*/
/*	10. Our Menu Page
/*-------------------------------------------------------------------------------------------------------*/
#container .our-menu .title-heading {
  margin: 20px 0 0;
  &:first-child {
    margin: 0;
  }
}

.our-menu{

  .content h2.title-heading {
    margin-bottom: 0px;
    background: url(../images/our-menu-bg.png) repeat-x left bottom;
  }

  #main-content article {
    padding: 20px 0px;
    background: url(../images/our-menu-bg.png) repeat-x left bottom;

    img {
      margin: 5px 15px 15px 0;
    }

    img.alignleft {
      margin: 5px 20px 15px 0;
    }

    .post-content {
      width: 345px;
      float: left;
      p {
        margin-bottom: 5px;
      }
    }

    h3.post-title {
      margin-bottom: 10px;
      line-height: 22px;
      font-size: 16px;
      a {
        font-size: 16px;
      }
    }

    .price {
      float: right;
      margin-top: 17px;
    }

    &:hover .price span {
      background-color: $link_hover_color;
    }

  }

  #main-content article:last-child{
    background: none;
    padding-bottom: 10px;
  }

}

/*-------------------------------------------------------------------------------------------------------*/
/*	11. Event Listing Page
/*-------------------------------------------------------------------------------------------------------*/

.article-date {
  float: left;
  width: 46px;
  height: 38px;
  padding: 7px 3px;
  margin-top: 10px;
  border: 4px double #b99586;
  text-align: center;
  color: $link_hover_color;
  font-size: 14px;
  line-height: 24px;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  span {
    display: block;
    font-size: 15px;
    line-height: 10px;
  }
}

.lt-ie9 .article-date {
  background: url(../images/date-bg.png) no-repeat center center;
  border: none;
  padding: 11px 7px;
}

.event .post-content {
  float: right;
  width: 480px;
  padding: 5px 0 20px;
  margin-bottom: 14px;
  background: url(../images/sep-line-stars.png) no-repeat center bottom;
}

.search .event .post-content {
  padding: 5px 0 0;
  margin-bottom: 0;
  background: none;
}

.event {
  h3.post-title {
    margin-bottom: 10px;
    line-height: 20px;
    font-size: 16px;
    color: $link_hover_color;
    text-transform: none;
    a {
      color: $link_hover_color;
      text-transform: none;
      &:hover, &:focus {
        color: #501b05;
      }
    }
  }

  small {
    color: $link_color;
    font-size: 13px;
    line-height: 10px;
    span {
      color: #514032;
    }
  }
  .event-thumb {
    float: left;
    margin: 0 15px 15px 0;
  }
}

/*-------------------------------------------------------------------------------------------------------*/
/*	12. Event Listing Page
/*-------------------------------------------------------------------------------------------------------*/

.event-single {
  article {
    padding: 0px 0px 35px;
    margin-bottom: 32px;
    background: url(../images/sep-line-stars.png) no-repeat center bottom;
  }
  .article-date {
    margin: 0px 18px 25px 1px;
  }
  article {
    h2.post-title {
      font-variant: small-caps;
      line-height: 32px;
      margin-bottom: 0px;
    }
    small {
      color: $link_color;
      font-size: 13px;
      line-height: 20px;
      span {
        color: #514032;
        &.left {
          margin-left: 40px;
        }
      }
    }
  }
}

/*-------------------------------------------------------------------------------------------------------*/
/*	13. News Page
/*-------------------------------------------------------------------------------------------------------*/

.news {
  article {
    padding: 0px 0px 35px;
    margin-bottom: 32px;
    background: url(../images/sep-line-stars.png) no-repeat center bottom;
  }
  .article-date {
    margin: 0px 18px 15px 1px;
  }
  .post-head {
    width: 340px;
    float: left;
    padding: 10px 0px 0px;
    margin-bottom: 6px;
  }
}

.single-menu-item .news .post-head {
  width: 480px;
}

.comment-count {
  float: right;
  margin-top: 17px;
  padding: 0px 0px 12px;
  background: url(../images/comment-bg.png) no-repeat 16px bottom;
}

.news {
  .comment-count span a {
    display: inline-block;
    padding: 0px 7px;
    background-color: #d2ae7e;
    color: #fff;
    font-size: 12px;
    line-height: 22px;
    font-style: italic;
    &:hover {
      color: #f1f1f1;
    }
  }
  .post-head {
    margin-bottom: 15px;
  }
  article h2.post-title {
    color: $link_hover_color;
    font-variant: small-caps;
    line-height: 32px;
    margin-bottom: 0px;
    a {
      color: $link_hover_color;
      font-variant: small-caps;
      line-height: 32px;
      margin-bottom: 0px;
      &:hover {
        color: #D3AF80;
      }
    }
  }
  .content article .post-thumb {
    margin-bottom: 0;
  }
  article {
    small {
      color: $link_color;
      font-size: 13px;
      line-height: 10px;
      span {
        color: #514032;
        &.left {
          margin-left: 40px;
        }
      }
    }
    a.read-more-content {
      display: inline-block;
      float: right;
      padding: 0 9px;
      text-align: center;
      background: url(../images/read-more-content-bg.png) no-repeat left center;
    }
  }
}

/*-------------------------------------------------------------------------------------------------------*/
/*	14. FAQ Page
/*-------------------------------------------------------------------------------------------------------*/

.faq-list {
  margin-bottom: 25px;
  dt {
    position: relative;
    padding: 0px 10px 0px 40px;
    line-height: 35px;
    margin-bottom: 1px;
    color: $link_hover_color;
    border: 1px solid #fbdfaa;
    cursor: pointer;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    span {
      position: absolute;
      top: 7px;
      left: 7px;
      display: block;
      width: 22px;
      height: 22px;
      background: url(../images/toggle-btn.png) no-repeat 0px 0px;
    }
    &.current span {
      background-position: bottom;
    }
  }
  dd {
    display: none;
    padding: 20px 20px 0px;
    margin-bottom: 0px;
  }
}

.lt-ie8 .faq-list dt span {
  top: 0px;
}

/*-------------------------------------------------------------------------------------------------------*/
/*	15. Reservation Form Page
/*-------------------------------------------------------------------------------------------------------*/

#reservation-form .contact-form #message {
  height: 110px;
}

#commentform .readmore, #reservation-form .contact-form .readmore {
  margin-bottom: 15px;
  padding: 6px 12px 5px;
  font-size: 11px;
  cursor: pointer;
}

/*-------------------------------------------------------------------------------------------------------*/
/*	16. Features Page
/*-------------------------------------------------------------------------------------------------------*/

section h2 {
  margin-bottom: 15px;
}

.featurs section {
  margin-bottom: 30px;
}

/* 16.1 Accordion Styles -----------------------------------------------------------------------------------*/

.toggle, .accordion {
  margin-bottom: 25px;
  padding-left: 0px;
  text-align: left;
}

.toggle dt, .accordion dt {
  position: relative;
  padding: 8px 10px 7px 40px;
  line-height: 20px;
  margin-bottom: 1px;
  color: $link_hover_color;
  border: 1px solid #fbdfaa;
  cursor: pointer;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.toggle dt span, .accordion dt span {
  position: absolute;
  top: 7px;
  left: 7px;
  display: block;
  width: 22px;
  height: 22px;
  background: url(../images/toggle-btn.png) no-repeat 0px 0px;
}

.toggle dt.current span, .accordion dt.current span {
  background-position: bottom;
}

.toggle dd, .accordion dd {
  display: none;
  padding: 20px;
  margin-bottom: 0;
}

.lt-ie8 {
  .toggle dt span, .accordion dt span {
    top: 0px;
  }
}

/* 16.2 Tabs Styles -----------------------------------------------------------------------------------*/

.tabs-nav {
  list-style: none;
  overflow: hidden;
  width: 100%;
  margin: 0px;
  padding-left: 0px;
  li {
    float: left;
    line-height: 32px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    border-bottom: none;
    background: none;
    &.active {
      line-height: 31px;
    }
    a {
      background: #fdf6e9;
      border: 1px solid #fbdfaa;
      border-bottom: 1px solid #fbdfaa;
      border-left: none;
      color: $link_hover_color;
      display: block;
      letter-spacing: 0;
      outline: none;
      padding: 0 16px;
      text-decoration: none;
      text-shadow: 0 1px 0 #fff;
    }
    &:first-child a {
      border-left: 1px solid #fbdfaa;
    }
    a:hover {
      background: #ffe0a3;
      color: $link_hover_color;
    }
    &.active a {
      color: $link_hover_color;
      background: #fff;
      border-bottom: 2px solid #fff;
      border-top: 2px solid #D3AF80;
    }
  }
}

.tabs-container {
  border: 1px solid #fbdfaa;
  margin: -1px 0 20px;
  overflow: hidden;
  width: 100%;
  .tab-content {
    padding: 10px;
    margin-bottom: 0px;
  }
}

.lt-ie9 .tabs-container .tab-content {
  background-color: #fff;
}

/* 16.3 Messages Styles -----------------------------------------------------------------------------------*/

.content {
  p {
    &.error {
      padding: 10px 20px 10px 45px;
      background: #F9E5E6;
      border: 1px solid #F7C7C9;
      border-left-width: 2px;
      color: #B3696C;
    }
    &.success {
      padding: 10px 20px 10px 45px;
      background: #e3ebc6;
      border: 1px solid #c2d288;
      border-left-width: 2px;
      color: #8fa442;
    }
    &.info {
      padding: 10px 20px 10px 45px;
      background: #d8ecf5;
      border: 1px solid #9ac9df;
      border-left-width: 2px;
      color: #528da9;
    }
    &.notice {
      padding: 10px 20px 10px 45px;
      background: #fcf7d9;
      border: 1px solid #f5dc7d;
      border-left-width: 2px;
      color: #c4a21b;
    }
  }
  .dropcap {
    font-size: 62px;
    margin-right: 6px;
    padding-top: 4px;
    text-transform: uppercase;
    float: left;
    position: relative;
    top: 5px;
    color: $link_hover_color;
  }
}

/* 16.4 Table  Styles -----------------------------------------------------------------------------------*/

table {
  width: 100%;
  padding: 0;
  margin: 0 0 20px 0;
  font-size: 11px;
  caption {
    padding: 0 0 5px 0;
    width: auto;
    font-style: italic;
    text-align: right;
  }
}

th {
  border: 1px solid #fbdfaa;
  color: $link_hover_color;
  font-weight: bold;
  letter-spacing: 1.5px;
  line-height: 1.5em;
  text-transform: uppercase;
  text-align: left;
  padding: 4px;
}

td {
  border: 1px solid #fbdfaa;
  font-size: 12px;
  padding: 4px;
}

/*-----------------------------------------------------------------------------------*/
/*	17. Columns Style
/*-----------------------------------------------------------------------------------*/

.columns {
  margin: 0px 0px 0px -2%;
  overflow: hidden;
  .one-third {
    width: 31.33%;
    margin: 0px 0px 0px 2%;
    float: left;
  }
  .two-third {
    width: 64.66%;
    margin: 0px 0px 0px 2%;
    float: left;
  }
  .one-fourth {
    width: 23%;
    margin: 0px 0px 0px 2%;
    float: left;
  }
  .three-fourth {
    width: 73%;
    margin: 0px 0px 0px 2%;
    float: left;
  }
  .one-half {
    width: 48%;
    margin: 0px 0px 0px 2%;
    float: left;
  }
  .single-col {
    width: 98%;
    margin: 0px 0px 0px 2%;
  }
}

.lt-ie8 .columns {
  margin: 0px 0px 0px 0;
  .one-fourth {
    width: 22%;
    margin: 0px 0px 0px 2%;
    float: left;
  }
}

/*-----------------------------------------------------------------------------------*/
/*	18. Comments
/*-----------------------------------------------------------------------------------*/

#comments {

  #reply-title {
    margin-bottom: 15px;
  }
  .commentlist {
    margin: 20px 0 0;
    padding: 0 0 5px;
    overflow: hidden;
  }
  .comment {
    border: none;
    list-style: none;
    margin: 30px 0 0;
    padding: 10px 0;
    > article {
      margin: 0;
      overflow: hidden;
    }
    .avatar {
      box-shadow: none;
      background: #fff;
      float: left;
      border-color: #fbdfa9;
      margin: 2px 10px 10px 2px;
      position: relative;
      z-index: 1;
      @include border-radius(60px);
      @include background-clip(padding-box);
    }
  }
}

.lt-ie9 #comments .comment .avatar {
  border-width: 4px;
}

#comments {
  .comment {
    .comment-body, .comment-meta {
      float: right;
      margin: 0;
      width: 80%;
    }
    .comment-body p {
      margin-bottom: 10px;
    }
    .comment-meta {
      margin-bottom: 0;
    }
    .author {
      font-size: 13px;
      color: #D3AF80;
      margin: 0 0 10px 0;
      a {
        color: #D3AF80;
        margin: 0 0 10px 0;
      }
      cite {
        color: #4c595c;
        font-style: normal;
      }
      .comment-reply-link {
        font-size: 11px;
      }
    }
    time {
      margin: 1px 0 5px;
    }
    .author a:hover, .comment-meta a:hover {
      color: $link_hover_color;
    }
  }
  .commentlist .children {
    margin: 0;
    padding: 0 0 0 85px;
    position: relative;
    .comment {
      margin: 15px 0 0;
    }
    .depth-2 {
      .comment-body, .comment-meta {
        width: 76%;
      }
    }
    .depth-3 {
      .comment-body, .comment-meta {
        width: 66%;
      }
    }
    .depth-4 {
      .comment-body, .comment-meta {
        width: 54%;
      }
    }
    .depth-5 {
      .comment-body, .comment-meta {
        width: 46%;
      }
    }
  }
}

/* --------------------------------------- */
/*	19. Gallery Template
/* --------------------------------------- */

#filter-by {
  text-align: center;
  margin-bottom: 40px;
  li {
    border: 0;
    margin: 0;
    padding: 0;
    background: none;
    display: inline;
    a {
      display: inline-block;
      color: #fff;
      height: 11px;
      font-size: 12px;
      line-height: 12px;
      padding: 8px 10px;
      margin: 0 5px 0 0;
      border: none;
      background-color: $link_color;
      cursor: pointer;
      &.active, &:hover {
        background-color: $link_hover_color;
        color: #fff;
        @include transition-duration(0.3s);
        @include transition-timing-function(ease-in-out);

      }
    }
  }
}

.gallery-item {
  margin-bottom: 30px;
  figure {
    margin: 0px;
    position: relative;
  }
  img {
    margin-bottom: 10px;
  }
  .media_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    background: #fbe0a9;
    opacity: 0.9;
    display:none;
    a {
      z-index: 250;
      display: block;
      position: absolute;
      top: 50%;
      width: 40px;
      height: 36px;
      background-color: $link_hover_color;
      &:hover {
        background-color: #55240f;
        -moz-transition: ease-in-out 0.2s;
        -webkit-transition: ease-in-out 0.2s;
        transition: ease-in-out 0.2s;
      }
      &.link {
        right: 0;
        background-image: url(../images/link-icon.png);
        background-repeat: no-repeat;
        background-position: 50% 50%;
      }
      &.zoom {
        left: 0;
        background-image: url(../images/zoom.png);
        background-repeat: no-repeat;
        background-position: 50% 50%;
      }
    }
  }
  .item-title {
    padding-bottom: 8px;
    margin-bottom: 3px;
    border-bottom: 1px solid #FCE2AF;
    text-align: center;
    font-variant: small-caps;
    font-size: 15px;
    font-weight: normal;
    a {
      color: $link_hover_color;
      &:hover {
        color: #501B05;
      }
    }
  }
  .item-type-link {
    display: block;
    padding-bottom: 5px;
    border-bottom: 1px solid #FCE2AF;
    a {
      font-size: 11px;
      font-weight: normal;
      font-variant: small-caps;
    }
  }
}

.gallery-4-columns {
  margin-left: -20px;
  .gallery-item {
    width: 190px;
    float: left;
    margin-left: 20px;
  }
}

.gallery-3-columns {
  margin-left: -30px;
  .gallery-item {
    width: 253px;
    float: left;
    margin-left: 30px;
  }
}

.gallery-2-columns {
  margin-left: -30px;
  .gallery-item {
    width: 395px;
    float: left;
    margin-left: 30px;
  }
}

/* --------------------------------------- */
/*	20. Isotope Styles
/* --------------------------------------- */

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
  .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: top, left, opacity;
    transition-property: transform, opacity;
  }
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
  &.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    .isotope-item {
      -webkit-transition-duration: 0s;
      -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
      -o-transition-duration: 0s;
      transition-duration: 0s;
    }
  }
  .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
  }
}


/* --------------------------------------- */
/*	21. Scroll Top
/* --------------------------------------- */

a#scroll-top {
  display: none;
  position: fixed;
  right: 20px;
  bottom: 20px;
  height: 42px;
  width: 42px;
  line-height: 42px;
  background: $link_color url(../images/scroll-top.png) center center no-repeat;
  @include opacity(0.8);
  @include transition-duration(0.25s);
  @include transition-timing-function(ease-in-out);
  &:hover {
    background-color: $link_hover_color;
  }
}
